.main {
    &__header {
        height: 236px;
        background: #fff;
        overflow: hidden;
        margin-bottom: 45px;
        padding-top: 80px;
    }

    &__header-container {
        display: flex;
        align-items: flex-start;
    }

    &__header-image {
        margin-left: auto;
        position: relative;
        top: -62px;
        right: 83px;
    }

    &__title {
        font-size: 42px;
        font-weight: bold;
        line-height: 1.2;
    }
}